<!DOCTYPE html>
<html>
  <head>
    <title>BlogU</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

    <!-- using semantic ui -->
  </head>
  <body style="
	background: ;">
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item"><i class="columns icon"></i>BlogU</div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>

          <a href="/" class=" item">Sign Up!</a>
          <a href="/" class=" item">Log in!</a>
          <div class="right item">
      <div class="ui icon input">
        <input placeholder="Search..." type="text">
        <i class="search icon"></i>
      </div>
    </div>
      </div>

    </div>

    <div class="ui left demo vertical inverted sidebar labeled icon menu">
      <a class="item">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item">
        <i class="block layout icon"></i>
        Topics
      </a>
      <a class="item">
        <i class="smile icon"></i>
        Friends
      </a>
    </div>
